@import "mixins";

.about-header-section {
    background-image: url('../assets/about/mobile/image-hero-whitecup.jpg');
    background-size: cover;
    background-position: top;
    @include flex-content($direction: column, $align: center);
    @include center-content($border-radius: 1rem);
    margin-bottom: 12rem;
}

.about-heading {
    color: $clr-light;

    padding: 11rem 2.4rem 8.7rem 2.4rem;
    text-align: center;

    &__title {
        font-size: $fs-700;
        line-height: $fs-800;
        margin-bottom: 2.4rem;
    }

    &__content {
        opacity: 0.8;
    }
}

.about-commitment-section {
    @include center-content();
    max-width: 111rem;

    @media only screen and (min-width:$mq-md) {
        @include flex-content($justify: space-between);
        gap: 6.9rem;
    }

    .about-commitment__header {
        img {
            border-radius: 10px;
            // height: 40rem;
            width: 100%;
            margin-bottom: 4.8rem;
            height: 100%;
        }

        @media only screen and (min-width:$mq-md) {
            flex-basis: 40%;

        }
    }

    .about-commitment__title {
        margin-bottom: 3rem;
    }

    .about-commitment__content {
        text-align: center;
        color: $clr-grey-blue;

        @media only screen and (min-width:$mq-md) {
            flex-basis: 60%;
            align-self: center;
        }
    }
}

.about-quality-section {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    @include center-content(12rem, 1rem);
    overflow: hidden;



    .about-quality__heading,
    .about-quality__content {
        grid-column: 1;
    }



    .about-quality__content {
        background-color: #2C343E;
        text-align: center;
        grid-row: 2 / -1;
        padding: 14rem 2.4rem 6rem 2.4rem;
        border-radius: 1rem;
        color: $clr-light;
        @include flex-content($direction: column, $justify: flex-end);

        .about-quality__title {
            margin-bottom: 2.4rem;
        }

        .about-quality__description {
            opacity: 0.8;
        }
    }

    .about-quality__heading {
        max-width: 85%;
        z-index: 10;
        grid-row: 1/ span 2;
        place-self: center;


        img {
            display: block;
            max-width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }
}

.about-headquarters-section {
    @include flex-content($direction: column, $align: center);
    margin-bottom: 12rem;
    text-align: center;
    max-width: 104.5rem;
    @include center-content();

    @media only screen and (min-width: $mq-md) {
        align-items: flex-start;
        text-align: start;
    }

    .about-headquarters {
        @media only screen and (min-width: $mq-md) {
            display: flex;
            gap: 8rem;
        }
    }

    .about-headquarters__title {
        color: $clr-grey;
        margin-bottom: 7.2rem;

    }

    .about-headquarter {
        &__img {
            margin-bottom: 5rem;
        }

        &__name {
            line-height: 3.6rem;
            margin-bottom: 2.2rem;
        }
    }

}

.about-headquarter:not(:last-child) {
    margin-bottom: 8rem;
}