.navigation-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #FEFCF7 32%, rgba(254, 252, 247, 0.504981) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 9rem;
    padding: 4.8rem 0;
    gap: 3.2rem;
    z-index: 10;
    animation: rollDown 300ms ease-in;
}

@keyframes rollDown {
    0% {
        opacity: 0.1;
        height: 1px;
    }

    50% {
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        height: 100%;
        transform: translateY(0);
    }
}

.btn {
    background-color: $clr-cyan;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: $clr-light;
    height: 5.6rem;
    width: 21.75rem;
    border-radius: .6rem;
    border: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C343E;
    margin: 0 auto;
    width: 89%;
    padding: 5.4rem;
    gap: 4.8rem;
    margin-bottom: 7.2rem;

    @media only screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 9rem;
        justify-content: center;
    }

    .footer__nav>.nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;

        @media only screen and (min-width: 760px) {
            flex-direction: row;
            gap: 3.3rem;

        }
    }

    &__icons {
        display: flex;
        justify-content: space-around;
        width: 12rem;
        align-items: center;

        @media only screen and (min-width: 1200px) {
            margin-left: auto;

        }
    }



}

.nav__link {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-size: 15px;
    color: $clr-grey;
}

.footer__logo {
    height: 100%;
    width: 100%;
    fill: red;
}

.footer__logo--logo {
    fill: red;
}