.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 3.2rem;
    padding: 0 1.6rem;

    .logo-box .logo {
        height: 1.75rem;

    }

    .hamburger-box {
        height: 1.5rem;
    }
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('./assets/home/mobile/image-hero-coffeepress.jpg');


    color: $clr-light;
    padding: 10rem 2.4rem;
    border-radius: 1rem;
    margin: 0 1.6rem;

    .heading-primary {
        margin: 2.4rem 0;

        &-main {
            display: block;
        }

        &-sub {
            display: block;
        }
    }

    &__description {
        opacity: 0.8;
        margin-bottom: 4rem;
    }
}


.collection-section {

    margin-top: 12rem;

    &__heading {
        background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.001) 0%, $clr-light 100%);
        text-align: center;
        color: #979797;
        margin-bottom: 1.3rem;
    }

    .collection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4.8rem;

        &__description {
            max-width: 28rem;
        }
    }

}

// .collection-section__collections {
//     display: flex;
//     flex-wrap: wrap;
//     flex-basis: min-content;
// }


.commercial-section {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 1.5rem;
    width: 89%;
    margin: 0 auto;



    &__wrapper,
    .commercial-card {
        grid-column: 1;
        margin: 0 auto;

    }

    &__wrapper {
        background-color: #2C343E;
        border-radius: 1rem;
        grid-row: 1 / 6;

        .wrapper__header {
            padding: 3.2rem 2.4rem;
            margin: 5rem auto;
        }

        .wrapper__header--heading {
            font-weight: 900;
            color: $clr-light;
            margin-bottom: 2.4rem;
        }

        .wrapper__content {
            opacity: 0.8;
            color: $clr-light;
        }
    }

    .commercial-card {
        max-width: 80%;
    }



    .coffee-bean {
        grid-row: 3/ span 2;

    }

    .gift {
        grid-row: 5/ span 2;
    }

    .truck {
        grid-row: 7 / span 2;
    }
}





.commercial-card {
    background-color: $clr-cyan;
    border-radius: 1rem;
    display: grid;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.4rem;
}

.commercial-card>img {
    margin: 0 auto;
    margin-top: 7.2rem;
    margin-bottom: 5.6rem;
}

.content-description {

    padding: 0 2.4rem;
    text-align: center;
    margin-bottom: 5.25rem;
}

.content-description>h4 {
    color: $clr-light;
}

.details-section {
    width: 89%;
    margin: 12rem auto;
    text-align: center;

    .details-header {
        color: $clr-grey;
        margin-bottom: 8rem;

        &__title {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }

    .details-main {
        display: flex;
        flex-direction: column;
        gap: 5.6rem;

        &__content>*:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }

    .btn {
        margin-top: 7.9rem;
        margin-bottom: 0;
        width: 21.75rem
    }
}

.details-main__content {
    &__number {
        color: $clr-orange;
        font-size: 7.2rem;
        line-height: 7.2rem;
    }

    &__title {
        color: $clr-grey-blue;
        font-size: 2.8rem;
    }

    &__description {
        color: $clr-grey-blue;
    }
}