.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 3.2rem;
    padding: 0 1.6rem;

    .logo-box .logo {
        height: 1.75rem;

    }

    .hamburger-box {
        height: 1.5rem;

        @media only screen and (min-width: $mq-md) {
            display: none;
        }
    }

    &__nav {
        display: none;

        .nav__list {
            @media only screen and (min-width: $mq-md) {
                display: flex;
                flex-direction: row;
                gap: 3.3rem;
            }
        }

        @media only screen and (min-width: $mq-md) {
            display: flex;

        }
    }
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('./assets/home/mobile/image-hero-coffeepress.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: $clr-light;
    padding: 10rem 8%;
    border-radius: 1rem;
    margin: 0 1.6rem;


    @media only screen and (min-width:$mq-md) {
        background-image: url('../assets/home/tablet/image-hero-coffeepress.jpg');
        align-items: flex-start;
        text-align: start;
    }

    @media only screen and (min-width:$mq-lg) {
        background-image: url('../assets/home/desktop/image-hero-coffeepress.jpg');
    }

    .heading-primary {
        margin: 2.4rem 0;
        max-width: 50rem;

        &-main {
            display: block;
        }

        &-sub {
            display: block;
        }
    }

    &__description {
        opacity: 0.8;
        margin-bottom: 4rem;
        max-width: 50rem;
    }
}


.collection-section {

    margin-top: 12rem;

    @media only screen and (min-width: $mq-md) {}



    &__heading {

        background: linear-gradient(180deg, rgba(49, 49, 48, 0.9), #fefcf7);
        // background: linear-gradient(180deg, red, blue);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        margin-bottom: 1.3rem;
        font-size: 4rem;
        line-height: 15rem;

        @media only screen and (min-width: $mq-md) {

            font-size: 9.6rem;
        }

        @media only screen and (min-width: $mq-lg) {

            font-size: 15rem;
        }
    }

    &__collections {
        @media only screen and (min-width: $mq-md) {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-top: -5em;
        }

        @media only screen and (min-width: $mq-lg) {

            flex-direction: row;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }


    }

    .collection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4.8rem;

        // @media only screen and (min-width: 1200px) {
        //     display: flex;
        //     flex-direction: column;

        // }

        @media only screen and (min-width: 760px) and (max-width: $mq-lg) {
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
        }

        &__description {
            max-width: 28rem;
        }
    }

}

// .collection-section__collections {
//     display: flex;
//     flex-wrap: wrap;
//     flex-basis: min-content;
// }


.commercial-section {
    display: grid;
    grid-template-rows: repeat(8, 1fr);

    gap: 1.5rem;
    width: 89%;
    margin: 0 auto;

    @media only screen and (min-width: $mq-lg) {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    &__wrapper,
    .commercial-card {
        grid-column: 1;
        margin: 0 auto;

    }

    .commercial-card {
        max-width: 80%;
    }

    &__wrapper {
        background-color: #2C343E;
        border-radius: 1rem;
        grid-row: 1 / 6;


        width: 100%;

        @media only screen and (min-width: $mq-lg) {
            grid-row: 1 / 4;
            grid-column: 1 / 4;
        }

        .wrapper__header {
            padding: 3.2rem 2.4rem;
            margin: 5rem auto;
            text-align: center;
            max-width: 54rem;
        }

        .wrapper__header--heading {
            font-weight: 900;
            color: $clr-light;
            margin-bottom: 2.4rem;
        }

        .wrapper__content {
            opacity: 0.8;
            color: $clr-light;
        }
    }



    .coffee-bean {
        grid-row: 3/ span 2;


        @media only screen and (min-width: $mq-lg) {
            grid-column: 1;

            grid-row: 3 / span 2;


            margin-top: -5rem;
        }
    }

    .gift {
        grid-row: 5/ span 2;


        @media only screen and (min-width: $mq-lg) {
            grid-column: 2;

            grid-row: 3/ span 2;

            margin-top: -5rem;
        }
    }

    .truck {
        grid-row: 7 / span 2;


        @media only screen and (min-width: $mq-lg) {
            grid-row: 3 / span 2;
            grid-column: 3;



            margin-top: -5rem;
        }
    }
}





.commercial-card {
    background-color: $clr-cyan;
    border-radius: 1rem;
    display: grid;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.4rem;
}

.commercial-card>img {
    margin: 0 auto;
    margin-top: 7.2rem;
    margin-bottom: 5.6rem;
}

.content-description {

    padding: 0 2.4rem;
    text-align: center;
    margin-bottom: 5.25rem;
}

.content-description>h4 {
    color: $clr-light;
}

.details-section {
    width: 89%;
    margin: 12rem auto;
    text-align: center;

    @media only screen and (min-width: $mq-md) {}

    @media only screen and (min-width: $mq-lg) {
        max-width: 80%;

    }



    .details-header {
        color: $clr-grey;
        margin-bottom: 8rem;

        &__title {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }

    .details-main {
        display: flex;
        flex-direction: column;
        gap: 5.6rem;
        align-items: center;
        text-align: center;

        @media only screen and (min-width: $mq-md) {
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: stretch;
            text-align: start;
        }

        @media only screen and (min-width: $mq-lg) {
            gap: 9rem;
        }

        &__content {
            max-width: 28rem;
        }

        &__content>*:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }

    .btn {
        margin-top: 7.9rem;
        margin-bottom: 0;
        width: 21.75rem;
        text-align: center;
    }
}

.details-main__content {
    &__number {
        color: $clr-orange;
        font-size: 7.2rem;
        line-height: 7.2rem;
    }

    &__title {
        color: $clr-grey-blue;
        font-size: 2.8rem;
        margin-right: 6rem;
    }

    &__description {
        color: $clr-grey-blue;
    }
}