@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');


//colors
$clr-cyan: #0E8784;
$clr-grey-blue: #333D4B;
$clr-orange: #FDD6BA;
$clr-light: #FEFCF7;
$clr-grey: #83888F;

//fonts 
$fs-900: clamp(40px, calc(31px + 2.3vw), 72px);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    background-color: $clr-light;
}

li {
    list-style: none;
    margin-bottom: 3.2rem;
}

a {
    font-family: 'Fraunces', serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: $clr-grey-blue;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: $fs-900;
    line-height: $fs-900;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 4rem;
    line-height: 4.8rem;
}

h3 {
    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

h4 {
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.btn {
    background-color: $clr-cyan;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: $clr-light;
    height: 5.6rem;
    width: 21.75rem;
    border-radius: .6rem;
    border: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 3.2rem;
    padding: 0 1.6rem;

    .logo-box .logo {
        height: 1.75rem;

    }

    .hamburger-box {
        height: 1.5rem;
    }
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('./assets/home/mobile/image-hero-coffeepress.jpg');


    color: $clr-light;
    padding: 10rem 2.4rem;
    border-radius: 1rem;
    margin: 0 1.6rem;

    .navigation-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        position: absolute;
        width: 100%;
        top: 9rem;
        padding: 4.8rem 0;

    }

    .heading-primary {
        margin: 2.4rem 0;

        &-main {
            display: block;
        }

        &-sub {
            display: block;
        }
    }

    &__description {
        opacity: 0.8;
        margin-bottom: 4rem;
    }
}


.collection-section {

    margin-top: 12rem;

    &__heading {
        background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.001) 0%, $clr-light 100%);
        text-align: center;
        color: #979797;
        margin-bottom: 1.3rem;
    }

    .collection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4.8rem;

        &__description {
            max-width: 28rem;
        }
    }

}

// .collection-section__collections {
//     display: flex;
//     flex-wrap: wrap;
//     flex-basis: min-content;
// }


.commercial-section {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 1.5rem;
    padding: 0 2.4rem;



    &__wrapper,
    .commercial-card {
        grid-column: 1;
        margin: 0 auto;

    }

    &__wrapper {
        background-color: #2C343E;
        border-radius: 1rem;
        grid-row: 1 / 6;

        .wrapper__header {
            padding: 3.2rem 2.4rem;

            text-align: center;
        }

        .wrapper__header--heading {
            font-weight: 900;
            font-size: 2.8rem;
            line-height: 2.8rem;
            color: $clr-light;
            margin-bottom: 2.4rem;
        }

        .wrapper__content {
            opacity: 0.8;
            color: $clr-light;
        }
    }

    .commercial-card {
        max-width: 80%;
    }



    .coffee-bean {
        grid-row: 3/ span 2;

    }

    .gift {
        grid-row: 5/ span 2;
    }

    .truck {
        grid-row: 7 / span 2;
    }
}





.commercial-card {
    background-color: $clr-cyan;
    border-radius: 1rem;
    display: grid;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.4rem;
}

.commercial-card>img {
    margin: 0 auto;
    margin-top: 7.2rem;
    margin-bottom: 5.6rem;
}

.content-description {

    padding: 0 2.4rem;
    text-align: center;
    margin-bottom: 5.25rem;
}

.content-description>h4 {
    color: $clr-light;
}


@media screen and (min-width: 700px) {
    html {
        font-size: 100%;
    }

    .collection-section .collection {
        flex-direction: row;
        justify-content: center;
    }
}