@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

:root {
    --clr-cyan: #0E8784;
    --clr-grey-blue: #333D4B;
    --clr-orange: #FDD6BA;
    --clr-light: #FEFCF7;
    --clr-grey: #83888F;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    box-sizing: border-box;
}

li {
    list-style: none;
    margin-bottom: 3.2rem;
}

a {
    font-family: 'Fraunces', serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: var(--clr-grey-blue);
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 7.2rem;
    line-height: 7.2rem;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 4rem;
    line-height: 4.8rem;
}

h3 {
    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

h4 {
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

button {
    background-color: var(--clr-cyan);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--clr-light);
    height: 5.6rem;
    width: 21.75rem;
    border-radius: .6rem;
    border: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 3.2rem;
    padding: 0 1.6rem;
}

.header-container:first-child {
    height: 1.75rem;
}

.header-container:nth-child(2) {
    height: 1.5rem;
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);

    position: absolute;
    width: 100%;
    top: 9rem;
    padding: 4.8rem 0;

}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('./assets/home/mobile/image-hero-coffeepress.jpg');
    color: var(--clr-light);
    padding: 10rem 2.4rem;
    border-radius: 1rem;
    margin: 0 1.6rem;
}

.header-section>h2 {
    margin-bottom: 2.4rem
}

.header-section>p {
    opacity: 0.8;
    margin-bottom: 4rem;
}

.collection-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 12rem;

}

.collection-section>h2 {
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    opacity: 0.1;
}

.commercial-section {
    margin: 0 1.6rem;
    background-color: #2C343E;
    border-radius: 1rem;
}

.commercial-section>header>h4 {
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: var(--clr-light);
}

.commercial-card {
    background-color: var(--clr-cyan);
    border-radius: 1rem;
    padding-top: 6.4rem;
    display: grid;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.4rem;
}

.commercial-card>img {
    margin: 0 auto;
    margin-bottom: 5.6rem;
}

.content-description {
    width: 25.5rem;
    height: 13.5rem;
    padding: 0 2.4rem;
    text-align: center;
    margin-bottom: 5.25rem;
}

.content-description>h4 {
    color: var(--clr-light);
}