@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  background-color: #FEFCF7; }

li {
  list-style: none; }

a {
  font-family: 'Fraunces', serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #333D4B; }

h1 {
  font-family: 'Fraunces', serif;
  font-size: clamp(40px, calc(29px + 2.9vw), 72px);
  line-height: clamp(40px, calc(29px + 2.9vw), 72px); }

h2 {
  font-family: 'Fraunces', serif;
  font-size: clamp(28px, calc(20px + 1.5vw), 40px);
  line-height: clamp(28px, calc(28px + 2.6vw), 48px); }

h3 {
  font-family: 'Fraunces', serif;
  font-size: 3.2rem;
  line-height: 3.6rem; }

h4 {
  font-family: 'Fraunces', serif;
  font-size: 2.4rem;
  line-height: 3.2rem; }

p {
  opacity: 0.8; }

.navigation-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
  position: absolute;
  width: 100%;
  top: 9rem;
  padding: 4.8rem 0; }
  .navigation-menu .header__nav {
    margin-bottom: 3.2rem; }

.btn {
  background-color: #0E8784;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #FEFCF7;
  height: 5.6rem;
  width: 21.75rem;
  border-radius: .6rem;
  border: none; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2C343E;
  margin: 0 auto;
  width: 89%;
  padding: 5.4rem;
  gap: 4.8rem;
  margin-bottom: 7.2rem; }
  .footer .footer__nav > .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem; }
  .footer__icons {
    display: flex;
    justify-content: space-around;
    width: 12rem; }

.nav__link {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-size: 15px;
  color: #83888F; }

.footer__logo {
  height: 100%;
  width: 100%;
  fill: red; }

.footer__logo--logo {
  fill: red; }

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: 3.2rem;
  padding: 0 1.6rem; }
  .header .logo-box .logo {
    height: 1.75rem; }
  .header .hamburger-box {
    height: 1.5rem; }

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("./assets/home/mobile/image-hero-coffeepress.jpg");
  color: #FEFCF7;
  padding: 10rem 2.4rem;
  border-radius: 1rem;
  margin: 0 1.6rem; }
  .header-section .heading-primary {
    margin: 2.4rem 0; }
    .header-section .heading-primary-main {
      display: block; }
    .header-section .heading-primary-sub {
      display: block; }
  .header-section__description {
    opacity: 0.8;
    margin-bottom: 4rem; }

.collection-section {
  margin-top: 12rem; }
  .collection-section__heading {
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.001) 0%, #FEFCF7 100%);
    text-align: center;
    color: #979797;
    margin-bottom: 1.3rem; }
  .collection-section .collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.8rem; }
    .collection-section .collection__description {
      max-width: 28rem; }

.commercial-section {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  gap: 1.5rem;
  width: 89%;
  margin: 0 auto; }
  .commercial-section__wrapper,
  .commercial-section .commercial-card {
    grid-column: 1;
    margin: 0 auto; }
  .commercial-section__wrapper {
    background-color: #2C343E;
    border-radius: 1rem;
    grid-row: 1 / 6; }
    .commercial-section__wrapper .wrapper__header {
      padding: 3.2rem 2.4rem;
      margin: 5rem auto; }
    .commercial-section__wrapper .wrapper__header--heading {
      font-weight: 900;
      color: #FEFCF7;
      margin-bottom: 2.4rem; }
    .commercial-section__wrapper .wrapper__content {
      opacity: 0.8;
      color: #FEFCF7; }
  .commercial-section .commercial-card {
    max-width: 80%; }
  .commercial-section .coffee-bean {
    grid-row: 3/ span 2; }
  .commercial-section .gift {
    grid-row: 5/ span 2; }
  .commercial-section .truck {
    grid-row: 7 / span 2; }

.commercial-card {
  background-color: #0E8784;
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.4rem; }

.commercial-card > img {
  margin: 0 auto;
  margin-top: 7.2rem;
  margin-bottom: 5.6rem; }

.content-description {
  padding: 0 2.4rem;
  text-align: center;
  margin-bottom: 5.25rem; }

.content-description > h4 {
  color: #FEFCF7; }

.details-section {
  width: 89%;
  margin: 12rem auto;
  text-align: center; }
  .details-section .details-header {
    color: #83888F;
    margin-bottom: 8rem; }
    .details-section .details-header__title {
      font-size: 2.4rem;
      line-height: 3.2rem; }
  .details-section .details-main {
    display: flex;
    flex-direction: column;
    gap: 5.6rem; }
    .details-section .details-main__content > *:not(:last-child) {
      margin-bottom: 2.4rem; }
  .details-section .btn {
    margin-top: 7.9rem;
    margin-bottom: 0;
    width: 21.75rem; }

.details-main__content__number {
  color: #FDD6BA;
  font-size: 7.2rem;
  line-height: 7.2rem; }

.details-main__content__title {
  color: #333D4B;
  font-size: 2.8rem; }

.details-main__content__description {
  color: #333D4B; }

.navigation-menu {
  display: none; }

.about-header-section {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  background-position: top;
  width: 89%;
  border-radius: 10px;
  margin: 0 auto; }

.about-heading {
  color: #FEFCF7;
  padding: 11rem 2.4rem 8.7rem 2.4rem;
  text-align: center; }
  .about-heading__title {
    font-size: clamp(28px, calc(20px + 1.5vw), 40px);
    line-height: clamp(28px, calc(20px + 1.5vw), 48px);
    margin-bottom: 2.4rem; }
  .about-heading__content {
    opacity: 0.8; }

.about-commitment-section {
  width: 89%;
  margin: 0 auto; }
  .about-commitment-section .about-commitment__header img {
    border-radius: 10px;
    height: 40rem; }
  .about-commitment-section .about-commitment__content {
    text-align: center;
    color: #333D4B; }

.about-quality-section {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  max-width: 89%;
  margin: 12rem auto;
  overflow: hidden;
  border-radius: 10px; }
  .about-quality-section .about-quality__heading,
  .about-quality-section .about-quality__content {
    grid-column: 1; }
  .about-quality-section .about-quality__content {
    background-color: #2C343E;
    text-align: center;
    grid-row: 2 / -1;
    padding: 14rem 2.4rem 6rem 2.4rem;
    border-radius: 1rem;
    color: #FEFCF7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .about-quality-section .about-quality__content .about-quality__title {
      margin-bottom: 2.4rem; }
    .about-quality-section .about-quality__content .about-quality__description {
      opacity: 0.8; }
  .about-quality-section .about-quality__heading {
    max-width: 85%;
    z-index: 10;
    grid-row: 1/ span 2;
    place-self: center; }
    .about-quality-section .about-quality__heading img {
      display: block;
      max-width: 100%;
      height: 100%;
      border-radius: 1rem; }

.about-headquarters-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 89%;
  margin: 0 auto;
  text-align: center; }
  .about-headquarters-section .about-headquarters__title {
    color: #83888F;
    margin-bottom: 7.2rem; }
  .about-headquarters-section .about-headquarter__name {
    line-height: 3.6rem; }

.about-headquarter:not(:last-child) {
  margin-bottom: 8rem; }

.plan-header-section {
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  width: 89%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10rem 2.4rem 13rem 2.4rem;
  color: #FEFCF7;
  text-align: center; }
  .plan-header-section .plan-heading__title {
    margin-bottom: 2.2rem;
    font-size: clamp(40px, calc(29px + 2.9vw), 72px);
    line-height: clamp(40px, calc(29px + 2.9vw), 72px); }

.plan-details {
  width: 100%;
  background-color: #2C343E;
  border-radius: 10px;
  padding: 8rem 2.4rem; }
  .plan-details .details-main__content__title {
    color: #FEFCF7; }
  .plan-details .details-main__content__description {
    color: #FEFCF7; }

.accordion-section {
  width: 89%;
  border-radius: 1rem;
  margin: 0 auto;
  margin-bottom: 12rem; }
  .accordion-section .accordion:not(:last-child) {
    margin-bottom: 9.6rem; }
  .accordion-section .accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem; }
    .accordion-section .accordion__header .question {
      flex-basis: 70%;
      color: #83888F;
      font-size: clamp(24px, calc(18px + 1.6vw), 40px);
      line-height: clamp(28px, calc(20px + 1.5vw), 48px); }
    .accordion-section .accordion__header img {
      width: 1.8rem;
      height: 1.2rem;
      transform: rotate(180deg); }
  .accordion-section .answers {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
    .accordion-section .answers .answer {
      padding: 2.4rem;
      background-color: #F4F1EB;
      border-radius: .8rem; }
      .accordion-section .answers .answer .answer--main {
        color: #333D4B;
        margin-bottom: .8rem; }
      .accordion-section .answers .answer .answer--secondary {
        opacity: 1; }

.summary-section {
  width: 89%;
  margin: 12rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .summary-section .summary {
    background-color: #2C343E;
    padding: 3.2rem 7.5%;
    border-radius: 1rem;
    margin-bottom: 5.6rem;
    max-width: 90%; }
    .summary-section .summary .summary--title {
      color: #ffffff;
      opacity: .5;
      text-transform: uppercase; }
    .summary-section .summary .summary--content {
      line-height: 4rem;
      color: #ffffff; }
  .summary-section .btn {
    max-width: 21.7rem;
    margin: 0 auto; }

@media screen and (min-width: 700px) {
  .collection-section .collection {
    flex-direction: row;
    justify-content: center; } }
