@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  background-color: #FEFCF7; }

li {
  list-style: none; }

a {
  font-family: 'Fraunces', serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #333D4B; }

h1 {
  font-family: 'Fraunces', serif;
  font-size: clamp(40px, calc(29px + 2.9vw), 72px);
  line-height: clamp(40px, calc(29px + 2.9vw), 72px); }

h2 {
  font-family: 'Fraunces', serif;
  font-size: clamp(28px, calc(20px + 1.5vw), 40px);
  line-height: clamp(28px, calc(28px + 2.6vw), 48px); }

h3 {
  font-family: 'Fraunces', serif;
  font-size: 3.2rem;
  line-height: 3.6rem; }

h4 {
  font-family: 'Fraunces', serif;
  font-size: 2.4rem;
  line-height: 3.2rem; }

p {
  opacity: 0.8; }

.header {
  display: flex;
  justify-content: space-between;
  max-width: 89%;
  margin: 4rem auto 3.2rem auto; }
  .header .logo-box .logo {
    height: 1.75rem; }
  .header .hamburger-box {
    height: 1.5rem; }
    @media only screen and (min-width: 760px) {
      .header .hamburger-box {
        display: none; } }
  .header__nav {
    display: none; }
    @media only screen and (min-width: 760px) {
      .header__nav .nav__list {
        display: flex;
        flex-direction: row;
        gap: 3.3rem; } }
    @media only screen and (min-width: 760px) {
      .header__nav {
        display: flex; } }

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("./assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FEFCF7;
  width: 89%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 10rem 8%; }
  @media only screen and (min-width: 760px) {
    .header-section {
      background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
      align-items: flex-start;
      text-align: start; } }
  @media only screen and (min-width: 1280px) {
    .header-section {
      background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg"); } }
  .header-section .heading-primary {
    margin: 2.4rem 0;
    max-width: 50rem; }
    .header-section .heading-primary-main {
      display: block; }
    .header-section .heading-primary-sub {
      display: block; }
  .header-section__description {
    opacity: 0.8;
    margin-bottom: 4rem;
    max-width: 50rem; }

.collection-section {
  margin-top: 12rem; }
  .collection-section__heading {
    background: linear-gradient(180deg, rgba(49, 49, 48, 0.9), #fefcf7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 1.3rem;
    font-size: 4rem;
    line-height: 15rem; }
    @media only screen and (min-width: 760px) {
      .collection-section__heading {
        font-size: 9.6rem; } }
    @media only screen and (min-width: 1280px) {
      .collection-section__heading {
        font-size: 15rem; } }
  @media only screen and (min-width: 760px) {
    .collection-section__collections {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: -5em; } }
  @media only screen and (min-width: 1280px) {
    .collection-section__collections {
      flex-direction: row;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center; } }
  .collection-section .collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.8rem; }
    @media only screen and (min-width: 760px) and (max-width: 1280px) {
      .collection-section .collection {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto; } }
    .collection-section .collection__description {
      max-width: 28rem; }

.commercial-section {
  display: grid;
  grid-template-rows: repeat(0.5fr 1fr 1fr);
  gap: 1.5rem;
  width: 89%;
  margin: 0 auto;
  border-radius: 0rem; }
  .commercial-section__wrapper,
  .commercial-section .commercial-cards,
  .commercial-section .wrapper__header {
    grid-column: 1;
    margin: 0 auto; }
  .commercial-section__wrapper {
    background-color: #2C343E;
    border-radius: 1rem;
    grid-row: 1 / 3;
    width: 100%; }
  .commercial-section .wrapper__header {
    padding: 3.2rem 2.4rem;
    margin: 5rem auto;
    text-align: center;
    max-width: 54rem;
    grid-row: 1; }
  .commercial-section .wrapper__header--heading {
    font-weight: 900;
    color: #FEFCF7;
    margin-bottom: 2.4rem; }
  .commercial-section .wrapper__content {
    opacity: 0.8;
    color: #FEFCF7; }
  .commercial-section .commercial-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.4rem;
    grid-row: 2/ 4;
    max-width: 85%; }
    .commercial-section .commercial-cards .commercial-card {
      width: 100%; }
    @media only screen and (min-width: 1280px) {
      .commercial-section .commercial-cards {
        flex-direction: row;
        grid-row: 2 / span 2; } }

.commercial-card {
  background-color: #0E8784;
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  width: 100%; }

.commercial-card > img {
  margin: 0 auto;
  margin-top: 7.2rem;
  margin-bottom: 5.6rem; }

.content-description {
  padding: 0 2.4rem;
  text-align: center;
  margin-bottom: 5.25rem; }

.content-description > h4 {
  color: #FEFCF7; }

.details-section {
  width: 89%;
  margin: 12rem auto;
  border-radius: 0rem;
  text-align: center; }
  @media only screen and (min-width: 760px) {
    .details-section {
      text-align: start;
      max-width: calc(89% * 0.85); } }
  .details-section .line-container {
    display: none; }
    @media only screen and (min-width: 760px) {
      .details-section .line-container {
        display: block; } }
  .details-section .circle {
    height: 3.1rem;
    width: 3.1rem;
    border-radius: 100px;
    background-color: white;
    border: 2px solid #0E8784;
    margin-top: -1.6rem; }
  .details-section .line {
    height: 2px;
    background-color: #FDD6BA;
    max-width: 76rem;
    margin-right: -2.55rem;
    margin-left: 1.55rem; }
    @media only screen and (min-width: 1280px) {
      .details-section .line {
        margin-right: -10.6rem; } }
  .details-section .line3 {
    opacity: 0; }

.details-header {
  color: #83888F;
  margin-bottom: 8rem; }
  .details-header__title {
    font-size: 2.4rem;
    line-height: 3.2rem; }

.details-main {
  gap: 5.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 760px) {
    .details-main {
      gap: 1rem;
      text-align: start;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: start; } }
  @media only screen and (min-width: 1280px) {
    .details-main {
      gap: 9rem; } }
  .details-main__content {
    max-width: 28rem; }
  .details-main__content > *:not(:last-child) {
    margin-bottom: 2.4rem; }

.btn {
  margin-top: 7.9rem;
  margin-bottom: 0;
  width: 21.75rem;
  text-align: center; }

.details-main__content__number {
  color: #FDD6BA;
  font-size: 7.2rem;
  line-height: 7.2rem; }

.details-main__content__title {
  color: #333D4B;
  font-size: 2.8rem;
  margin-right: 6rem; }

.details-main__content__description {
  color: #333D4B; }

.about-header-section {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 89%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 12rem; }

.about-heading {
  color: #FEFCF7;
  padding: 11rem 2.4rem 8.7rem 2.4rem;
  text-align: center; }
  .about-heading__title {
    font-size: clamp(28px, calc(20px + 1.5vw), 40px);
    line-height: clamp(28px, calc(20px + 1.5vw), 48px);
    margin-bottom: 2.4rem; }
  .about-heading__content {
    opacity: 0.8; }

.about-commitment-section {
  width: 89%;
  margin: 0 auto;
  border-radius: 0rem;
  max-width: 111rem; }
  @media only screen and (min-width: 760px) {
    .about-commitment-section {
      display: flex;
      justify-content: space-between;
      gap: 6.9rem; } }
  .about-commitment-section .about-commitment__header img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 4.8rem;
    height: 100%; }
  @media only screen and (min-width: 760px) {
    .about-commitment-section .about-commitment__header {
      flex-basis: 40%; } }
  .about-commitment-section .about-commitment__title {
    margin-bottom: 3rem; }
  .about-commitment-section .about-commitment__content {
    text-align: center;
    color: #333D4B; }
    @media only screen and (min-width: 760px) {
      .about-commitment-section .about-commitment__content {
        flex-basis: 60%;
        align-self: center;
        text-align: start; } }

.about-quality-section {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  width: 89%;
  margin: 12rem auto;
  border-radius: 1rem;
  overflow: hidden; }
  .about-quality-section .about-quality__heading,
  .about-quality-section .about-quality__content {
    grid-column: 1; }
  .about-quality-section .about-quality__content {
    background-color: #2C343E;
    text-align: center;
    grid-row: 2 / -1;
    padding: 14rem 2.4rem 6rem 2.4rem;
    border-radius: 1rem;
    color: #FEFCF7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    @media only screen and (min-width: 1280px) {
      .about-quality-section .about-quality__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: start;
        padding: 9rem 5% 0rem; } }
    .about-quality-section .about-quality__content .about-quality__title {
      margin-bottom: 2.4rem;
      max-width: 54rem; }
    .about-quality-section .about-quality__content .about-quality__description {
      opacity: 0.8;
      max-width: 54rem; }
  .about-quality-section .about-quality__heading {
    max-width: 85%;
    z-index: 10;
    grid-row: 1/ span 2;
    place-self: center; }
    @media only screen and (min-width: 1280px) {
      .about-quality-section .about-quality__heading {
        place-self: end end;
        grid-row: 2/ span 2;
        margin-right: 5%;
        position: relative;
        bottom: 9rem; } }
    .about-quality-section .about-quality__heading img {
      display: block;
      max-width: 100%;
      height: 100%;
      border-radius: 1rem; }

.about-headquarters-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12rem;
  text-align: center;
  max-width: 104.5rem;
  width: 89%;
  margin: 0 auto;
  border-radius: 0rem; }
  @media only screen and (min-width: 760px) {
    .about-headquarters-section {
      align-items: flex-start;
      text-align: start; } }
  @media only screen and (min-width: 760px) {
    .about-headquarters-section .about-headquarters {
      display: flex;
      gap: 8rem; } }
  .about-headquarters-section .about-headquarters__title {
    color: #83888F;
    margin-bottom: 7.2rem; }
  .about-headquarters-section .about-headquarter__img {
    margin-bottom: 5rem; }
  .about-headquarters-section .about-headquarter__name {
    line-height: 3.6rem;
    margin-bottom: 2.2rem; }

.about-headquarter:not(:last-child) {
  margin-bottom: 8rem; }

.plan-header-section {
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  padding: 10rem 2.4rem 13rem 2.4rem;
  color: #FEFCF7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 89%;
  margin: 0 auto;
  border-radius: 1rem; }
  .plan-header-section .plan-heading__title {
    margin-bottom: 2.2rem;
    font-size: clamp(40px, calc(29px + 2.9vw), 72px);
    line-height: clamp(40px, calc(29px + 2.9vw), 72px); }

.plan-details {
  width: 100%;
  background-color: #2C343E;
  border-radius: 10px;
  padding: 8rem 2.4rem; }
  .plan-details .details-main__content__title {
    color: #FEFCF7; }
  .plan-details .details-main__content__description {
    color: #FEFCF7; }

.plan-section {
  width: 89%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 12rem; }
  @media only screen and (min-width: 1280px) {
    .plan-section {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      width: calc(89% * 0.85); } }
  .plan-section .steps-container {
    display: none; }
    .plan-section .steps-container > * {
      color: #333D4B;
      opacity: 0.5;
      height: 5.6rem;
      margin-bottom: 2.4rem; }
    .plan-section .steps-container > *:not(:last-child) {
      border-bottom: 1px solid #83888F; }
    @media only screen and (min-width: 1280px) {
      .plan-section .steps-container {
        display: block;
        flex-basis: 20%; } }
  .plan-section .accordion-section {
    max-width: 70rem;
    margin: 0 auto; }
    .plan-section .accordion-section .accordion:not(:last-child) {
      margin-bottom: 9.6rem; }
    @media only screen and (min-width: 1280px) {
      .plan-section .accordion-section {
        flex-basis: 70%;
        margin: 0; } }
    .plan-section .accordion-section .accordion__header {
      margin-bottom: 3.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .plan-section .accordion-section .accordion__header .question {
        color: #83888F;
        font-size: clamp(24px, calc(18px + 1.6vw), 40px);
        line-height: clamp(28px, calc(20px + 1.5vw), 48px);
        padding-right: 5rem; }
      .plan-section .accordion-section .accordion__header .icon-arrow {
        width: 1.8rem;
        height: 1.2rem; }
      .plan-section .accordion-section .accordion__header .rotate {
        transform: rotate(180deg); }
    .plan-section .accordion-section .answers {
      display: none;
      flex-direction: column;
      gap: 1.6rem; }
      @media only screen and (min-width: 760px) {
        .plan-section .accordion-section .answers {
          flex-direction: row; } }
      .plan-section .accordion-section .answers .answer {
        padding: 2.4rem;
        background-color: #F4F1EB;
        border-radius: .8rem; }
        @media only screen and (min-width: 760px) {
          .plan-section .accordion-section .answers .answer {
            padding: 5rem; } }
        .plan-section .accordion-section .answers .answer .answer--main {
          color: #333D4B;
          margin-bottom: .8rem;
          pointer-events: none; }
        .plan-section .accordion-section .answers .answer .answer--secondary {
          opacity: 1;
          pointer-events: none; }
      .plan-section .accordion-section .answers .answer:hover {
        background-color: #FDD6BA; }

.summary-section {
  margin: 12rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .summary-section .summary {
    background-color: #2C343E;
    padding: 3.2rem 7.5%;
    border-radius: 1rem;
    margin-bottom: 5.6rem; }
    .summary-section .summary .summary--title {
      color: #ffffff;
      opacity: .5;
      text-transform: uppercase; }
    .summary-section .summary .summary--content {
      line-height: 4rem;
      color: #ffffff; }
      .summary-section .summary .summary--content .placeholders {
        color: #0E8784; }
  .summary-section .btn {
    max-width: 21.7rem;
    margin: 0 auto; }

.plan-details {
  max-width: 100%; }
  @media only screen and (min-width: 1280px) {
    .plan-details {
      max-width: 89%; } }
  .plan-details .details-main .circle {
    background-color: transparent; }

.navigation-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #FEFCF7 32%, rgba(254, 252, 247, 0.504981) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 9rem;
  padding: 4.8rem 0;
  gap: 3.2rem;
  z-index: 10;
  animation: rollDown 300ms ease-in; }

@keyframes rollDown {
  0% {
    opacity: 0.1;
    height: 1px; }
  50% {
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    height: 100%;
    transform: translateY(0); } }

.btn {
  background-color: #0E8784;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #FEFCF7;
  height: 5.6rem;
  width: 21.75rem;
  border-radius: .6rem;
  border: none; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2C343E;
  margin: 0 auto;
  width: 89%;
  padding: 5.4rem;
  gap: 4.8rem;
  margin-bottom: 7.2rem; }
  @media only screen and (min-width: 1280px) {
    .footer {
      flex-direction: row;
      gap: 9rem;
      justify-content: center; } }
  .footer .footer__nav > .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem; }
    @media only screen and (min-width: 760px) {
      .footer .footer__nav > .nav__list {
        flex-direction: row;
        gap: 3.3rem; } }
  .footer__icons {
    display: flex;
    justify-content: space-around;
    width: 12rem;
    align-items: center; }
    @media only screen and (min-width: 1280px) {
      .footer__icons {
        margin-left: auto; } }

.nav__link {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-size: 15px;
  color: #83888F; }

.footer__logo {
  height: 100%;
  width: 100%;
  fill: red; }

.footer__logo--logo {
  fill: red; }
